---
title: "Display Maven artifact versions in JSF pages"
author: 'Christian Kaltepoth'
layout: post
tags: [ maven, jsf ]
---

%p
  I was recently confronted with the task of displaying the version of a JSF project in its page title. 
  As the version was already contained in the project's <i>pom.xml</i> and I didn't want to duplicate 
  this information in another file, I searched for a simple way to display the 
  <a href="http://maven.apache.org/">Maven</a> artifact's version in the JSF page.

%p
  As there was no easy way to do this, I created a small library for this usecase and named it 
  <a href="http://github.com/chkal/jsf-maven-util">jsf-maven-util</a>. The main idea of it is to supply a 
  JSF managed bean that lazily checks for <i>pom.properties</i> files of Maven artifacts on the classpath. 
  These files are created during the <a href="http://maven.apache.org/">Maven</a> packaging process and are 
  stored in the <i>META-INF/maven/</i> directory of the output archive. 

%p
  The library is very easy to use. A bean named <i>maven</i> is automatically placed in the <i>application</i> 
  scope of your webapp. It contains a map which you can use to get the version of an artifact by using the 
  groupId and artifactId (colon-separated) as the key.

%p
  This example shows how to display the version of a web application in its page title.

%pre(class="html")
  %code
    :plain
      &lt;head&gt;
        &lt;title&gt;
          My Application \#{maven.version['com.example.myapp:myapp-webapp']}
        &lt;/title&gt;
      &lt;/head&gt;  

%p
  You can also display the version of any of your project's dependencies as long as it includes a 
  <i>pom.properties</i> in its archive:

%pre(class="html")
  %code
    :plain
      &lt;p&gt;
        powered by Weld \#{maven.version['org.jboss.weld:weld-core']}  
      &lt;/p&gt;

%p
  If you are interested in using this feature in your own project, add the following repository to 
  your <i>pom.xml</i>:

%pre(class="xml")
  %code
    :plain
      &lt;repository&gt;
        &lt;id&gt;jsf-maven-util-repo&lt;/id&gt;
        &lt;name&gt;jsf-maven-util Repository&lt;/name&gt;
        &lt;url&gt;http://chkal.github.com/jsf-maven-util/repository/&lt;/url&gt;
      &lt;/repository&gt;

%p
  Then add the following dependency to your project:

%pre(class="xml")
  %code
    :plain
      &lt;dependency&gt;
        &lt;groupId&gt;de.chkal.jsf&lt;/groupId&gt;
        &lt;artifactId&gt;jsf-maven-util&lt;/artifactId&gt;
        &lt;version&gt;1.1&lt;/version&gt;
      &lt;/dependency&gt;

%p
  I pushed the source to a <a href="http://github.com/chkal/jsf-maven-util">GitHub</a> repository. 
  Let me know if you have any issues.
