!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title Christian Kaltepoth's Blog
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"/stylesheets/bootstrap.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"/stylesheets/prettify.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"/stylesheets/styles.css" }
    %link{ :rel=>'alternate', :type=>'application/atom+xml', :href=>"/feed.atom", :title=>'Atom Feed' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    - if site.google_analytics
      = google_analytics
  %body{ :onload => 'prettyPrint()' }
    .container
      .row
        .span12
          .header
            %a{ :href=>'/' }
              Christian Kaltepoth's Blog
      .row
        .span8
          ~ content
        .span4.sidebar
          %h1
            About me
          .picture
            %img{ :src=>'/images/chkal.jpg', :alt=>'picture', :width=>'100' }
          %p.calign
            Christian Kaltepoth<br/>
            Senior Software Developer<br/>
            <a href="http://www.ingenit.com/">ingenit GmbH & Co. KG</a>
            .ohloh
              %a(href='https://www.ohloh.net/accounts/95468?ref=Detailed' target='_top')
                %img(alt='Ohloh profile for Christian Kaltepoth' border='0' height='35' src='https://www.ohloh.net/accounts/95468/widgets/account_detailed.gif' width='230')
          %h1
            Conferences
          %p
            .picture
              %a(href='http://www.javaland.eu/')
                %img{ :src=>'/images/javaland15.jpg', :alt=>'javaland15' }
          %h1
            Contact
          %p
            %ul
              %li
                Twitter: <a href="http://twitter.com/chkal">@chkal</a>
              %li
                Google+: <a href="https://plus.google.com/105317683054583400251?rel=author">chkal</a>
              %li
                GitHub: <a href="https://github.com/chkal">chkal</a>
          %h1
            Projects
          %p
            %ul
              %li
                <a href="http://www.togglz.org/">Togglz</a> - Feature Flags for Java
              %li
                <a href="http://deltaspike.apache.org/">DeltaSpike</a> - Portable CDI extensions
              %li
                <a href="http://ocpsoft.org/rewrite/">Rewrite</a> - Next generation URL rewriting
              %li
                <a href="http://ocpsoft.org/prettyfaces/">PrettyFaces</a> - Pretty URLs for JSF
              %li
                <a href="http://www.criteria4jpa.org">Criteria4JPA</a> - Hibernate Criteria for JPA
          %h1
            Past Conferences
          %p
            .picture
              %a(href='http://jax.de/')
                %img{ :src=>'/images/wjax13.gif', :alt=>'wjax13' }
            .picture
              %a(href='http://jax.de/')
                %img{ :src=>'/images/jax13.jpg', :alt=>'jax13' }
            .picture
              %a(href='http://www.gearconf.de/')
                %img{ :src=>'/images/gearconf12.png', :alt=>'gearconf12', 
                  :style=>'width: 250px; margin-top: 10px;' }
          %h1
            Feeds
          %p.atom-icon
            %a{ :href=>"/feed.atom" }
              %img{ :src=>'/images/atom.png', :alt=>'feed' }
      .row
        .span12
          .footer
            &copy; 2012 - Christian Kaltepoth
    %script{ :type=>'text/javascript', :src=>"/javascripts/bootstrap.js" }
    %script{ :type=>'text/javascript', :src=>"/javascripts/prettify.js" }
    